.panda-bg-info{
    background-color: #feeae9;
}
.categories img{
    width: 100px;
}
.panda-btn-buynow{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4991 100%) ;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    color: white;
}